* {
    margin: 0;
}

html {
    min-width: 320px;
}

section > div {
    margin: auto;
    padding: 16px 8px;
}

h1 {
    color: white;    
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

h2 {
    color: white;    
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0 auto 24px auto;
    width: 300px;
    text-align: center;
}

p, li, a {
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    list-style: none;
}

.hidden-gt-360 > li > a {
    font-size: 12px;
}

.nav-bar {
    background-color: #63458a;
    padding: 1% 8%;
}

.nav-bar > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar img {
    width: 120px;
}

img.menu {
    display: inherit;
    width: 24px;
}

header {
    background-image: url(img/bg-banner-escuro.png);
    background-size: cover;
    background-position-x: center;
    height: 120px;
    position: relative;
}

.header {
    text-align: center;
    position: absolute;
    bottom: 8px;
    left: 25%;
    right: 25%;
}

.header p {
    margin-bottom: 24px;
}

.hidden-gt-360 {
    display: none;
}

.title h2, .title p {
    margin: 0 32px 8px 32px;
    color: #63458a;
}

.title img {
    display: block;
    margin: 0 auto 16px auto;
    width: 100%;
    max-width: 120px;
    object-fit: cover;
    object-position: initial;
    height: 160px;
    border-radius: 10px;
}

.highlighted > div {
    margin: 0 32px;
    padding: 5px;
    border: 1px solid #63458a;
    border-radius: 5px;
}

.highlighted p {
    text-align: center;
    padding: 5px;
    color: #63458a;
    font-size: 18px;
    font-weight: 700;
}

.footer-top {
    background-color: #353535;
    padding: 24px;
}

.footer-top ul {
    text-align: center;
    padding: 0;
}

.footer-top li {
    margin-bottom: 8px;
}

.footer-top > nav {
    margin: 0 auto 24px auto;
}

.enterprise {
    margin: 0 auto 24px auto;
    text-align: center;
}

.enterprise img {
    width: 160px;
}

.medias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    margin: 0 auto;
}

.medias img {
    width: 24px;
}

.footer-bottom {
    background-color: #202020;
    padding: 8px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 10px;
}

@media (min-width: 768px) {

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 25px;
        width: 80%;
    }

    img.menu {
        display: none;
    }

    .hidden-gt-360 {
        display: inherit;
    }

    .nav-bar img {
        width: 200px;
    }

    .nav-bar li {
        margin-left: 80px;
        text-transform: uppercase;
    }

    header {
        position: relative;
        height: 500px;
    }
    .header {
        text-align: left;        
        width: 600px;
        position: absolute;
        bottom: 50px;
        left: 160px;
    }

    .header p {
        text-align: left;
    }

    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer-top nav, .footer-top div {
        width: 160px;
    }

    .footer-top li {
        text-align: left;
    }
}